body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}
body {
    background-color: #f0f8ff; /* Голубой цвет */
}
body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
h1 {
    color: #333;
    font-size: 2em;
}
/* Анимация для плавного появления текста */
#animated-text {
    animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#animated-text {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
