body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Градиент */
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #7d7777; /* Зелёный цвет , cambiado */
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 18px;
}

/* Анимация для текста */
#animated-text {
    animation: slide-in 2s ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
body {
    background-image: url('images/background-ai.png');
    background-size: cover; /* Изображение заполняет весь экран */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-attachment: fixed; /* Фон остаётся на месте при прокрутке */
    color: #ffffff; /* Текст станет белым, чтобы читалось лучше */
}
